<p>admin-article-page works!</p>
<form [formGroup]="articleForm" (ngSubmit)="onSubmit(currentArticle.id)" #myForm="ngForm">
  <fieldset>
    <label for="title">Title </label>
    <input type="text" id="title" formControlName="title" />
    <label for="content">Content </label>
    <input type="text" id="content" formControlName="content" />
    <label for="slug">Slug </label>
    <input type="text" id="slug" formControlName="slug" />
</fieldset>
  <button type="submit">Modifier</button>
  <button type="button" (click)="deleteArt(currentArticle.id)">Supprimer</button>
</form>
<p>{{currentArticle.id}}</p>
<p>{{currentArticle.createdAt}}</p>
<p>{{currentArticle.updateAt}}</p>